# chezmoi configuration
# https://www.chezmoi.io/reference/configuration-file/

[data]
    email = "{{ promptStringOnce . "email" "Email address" }}"
    name = "{{ promptStringOnce . "name" "Full name" }}"

[edit]
    command = "vim"

[git]
    autoCommit = false
    autoPush = false
