[user]
    name = {{ .name }}
    email = {{ .email }}
{{- if .signingkey }}
    signingkey = ~/.ssh/id_ed25519_signing.pub

[gpg]
    format = ssh

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
{{- end }}

[init]
    defaultBranch = main
