{{- if eq .chezmoi.os "windows" }}

winget install --id=AgileBits.1Password
winget install --id=CPUID.CPU-Z
winget install --id=TechPowerUp.GPU-Z
winget install --id=Fork.Fork
winget install --id=Google.Chrome

winget install --id=AgileBits.1Password
winget install --id=AgileBits.1Password.CLI

winget install --id=SublimeHQ.SublimeText.4
winget install Microsoft.VisualStudioCode --override "/VERYSILENT /NORESTART /MERGETASKS=!runcode,addcontextmenufiles,addcontextmenufolders,associatewithfiles,addtopath"


{{- end }}
